.base-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px; /* Eğer biraz boşluk istersen */
  box-sizing: border-box; /* Padding'lerin toplam yüksekliğe dahil edilmesi için */
}
