<div class="container scroll-container">
  <div class="row text-center mt-5 scroll-item">
    <div class="col-lg-8 col-md-12 text-lg-start text-center">
      <div class="w-75 w-md-100 mx-auto">
        <div class="mt-4">
         <strong> <h5 class="font-weight-bold">Mehmet Akif Kömürcü</h5></strong>
        </div>
        <div class="text-muted">
          <h5 class="lh-lg"><span class="text-muted">Software Developer at </span> <a target="_blank" class="rounded-2" style="color: #8F70FF; background-color: #e8e2ff; padding: 3px;" href="https://www.rastmobile.com/en">Rast Mobile</a></h5>
          <!-- <h5>Sivas, Türkiye</h5> -->
        </div>
        <div class="mt-4">
          <p>I am passionate about technology and specialize in JavaScript, TypeScript, Angular, and NestJS.</p>
          <!-- <p>On this platform, I aim to sincerely share my experiences.</p> -->
          <p class="my-3">I focus on building scalable, high-performance web applications with clean and maintainable code. With experience in Angular and NestJS, I integrate diverse technologies to create efficient solutions. I thrive in Agile/Scrum environments and value continuous learning and collaboration.</p>
          <p>Feel free to connect with me through the following channels:</p>
        </div>
        <div class="social-links">
          <a href="mailto:akifkomurcu@outlook.com" class="btn btn-email">Email</a>
          <a href="https://x.com/akifzsche" target="_blank" class="btn btn-instagram">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a href="https://www.instagram.com/akifkmrc" target="_blank" class="btn btn-instagram">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 d-flex justify-content-center align-items-center mt-4 mt-lg-0">
      <div class="main-picture">
        <img
          loading="lazy"
          class="rounded-5 img-fluid"
          src="assets/images/main.jpg"
          alt=""
          ondragstart="return false;"
          oncontextmenu="return false;">
      </div>
    </div>

  </div>

</div>
