<div class="container">
  <div class="row text-center mt-5">
    <div class="col-lg-8 col-md-12 text-lg-start text-center">
      <div class="w-100">
        <div class="my-4">
          <h4>Mehmet Akif Kömürcü</h4>
        </div>
        <div class="text-muted">
          <h5 class="lh-lg">Software Developer at <a target="_blank" class="rounded-2" style="color: #8F70FF; background-color: #e8e2ff; padding: 3px;" href="https://www.rastmobile.com/en">Rastmobile</a></h5>
          <h5>Sivas, Turkey</h5>
        </div>
        <div class="mt-4">
          <p>Kendimi bildim bileli Bilgisayar başındayım.</p>
          <p>Burada tecrübelerimi içimden geldiğince paylaşmak istiyorum.</p>
          <p>İş dışında video oyunları oynamayı, Tarih ve Felsefe okumayı seviyorum.</p>
          <p>İletişim kurabileceğimiz bağlantılar:</p>
        </div>
        <div class="social-links">
          <a href="mailto:akifkomurcu@outlook.com" class="btn btn-email">Email</a>
          <a href="https://x.com/akifzsche" target="_blank" class="btn btn-instagram">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a href="https://www.instagram.com/akifzsche" target="_blank" class="btn btn-instagram">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 d-flex justify-content-center align-items-center mt-4 mt-lg-0">
      <div class="main-picture">
        <img
          loading="lazy"
          class="rounded-5 img-fluid"
          src="assets/images/main.jpg"
          alt=""
          ondragstart="return false;"
          oncontextmenu="return false;">
      </div>
    </div>

  </div>
</div>
